body, html {
    margin: 0;
    padding: 0;
    /* background: rgb(250, 232, 193); */
}

li {
    list-style-type: none;
}

.nav {
    text-align: center;
    /* background: rgb(99, 193, 186); */
    display: flex;
}

.nav .tabs {
    position: relative;
    left: 2%;
    display: flex;
    align-items: center;
    font-size: 23px;
    padding: 0;
    margin: 0;
}

.nav .tabs li {
    margin: 0 10px;
}

.nav .nav-title {
    font-size: 35px;
    padding: 20px 0;
    margin: 0;
    position: relative;
    left: 22%;
    letter-spacing: 2px;
}

.auth {
    display: flex;
    margin: 0;
    flex-direction: row;
    position: relative;
    left: 50%;
    padding: 0;
    align-items: center;
}

.auth li {
    margin: 0 5px;
    font-size: 22px;
    padding: 5px 10px;
}

.auth li:nth-child(1) {
    background: rgb(90, 198, 138);
    border-radius: 5px;
    color: white;
}

.carousel {
    background: rgb(219, 219, 219);
}

.carousel-inner .content-container {
    width: 80%;
    margin: 0 auto;
    /* background: rgb(218, 218, 218); */
    background-image: url("../images/temp.jpeg");
    text-align: center;
    padding-top: 20%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.content-container p {
    margin: 0;
    padding: 5px;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    display: inline-block;
    position: relative;
    top: 50%;
}

.content-container button {
    border: none;
    margin: 20px auto;
    padding: 5px 20px;
    border-radius: 10px;
    background: rgb(90, 198, 138);
    box-shadow: 0 0 5px black;
    color: white;
}